@{
    ViewBag.Title = "صفحه نخست";
}

<div class="jumbotron">
    <h1>خرید و فروش انواع سیب زمینی بذری و خوراکی</h1>
   
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>انواع سیب زمینی</h2>
        
        <p><a class="btn btn-success" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>خرید سیب زمینی</h2>
        
        <p><a class="btn btn-danger" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>اجاره زمین</h2>
       
        <p><a class="btn btn-warning" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>